<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
</head>
<body>
    <div class="header">
        <h1>G Test</h1>
    </div>
    <%- include('layouts/dashnav'); -%>
    <main class="main">
        <h2>G Test</h2>
        <p>License details</p>
        <div id="result">
            <p>First Name: <%= user.firstname %></p>
            <p>Last Name: <%= user.lastname %></p>
            <p>Age: <%= user.Age %></p>
            <p>License Number: <%= user.LicenseNo %></p>
            <p>Car Make: <%= user.car_details.make %></p>
            <p>Car Model: <%= user.car_details.model %></p>
            <p>Car Year: <%= user.car_details.year %></p>
            <p>Plate Number: <%= user.car_details.platno %></p>
        </div>
    </main>
</body>
</html>
